# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\miade\OneDrive\1 CBA - Datamatiker\4. semester\FP\Asignments\Asignments\Haskell\haskell-figures\haskell-figures\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
